.home-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  gap: 40px;
  width: 100%;
}

.home-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100% !important;
  margin-top: 10px;
  padding: 20px;
  /* height: 100vh; */
  gap: 60px;
  /* background-color: rgb(149, 178, 211) !important; */
  margin-left: auto;
}

.date-form {
  background-color: rgb(4, 79, 109);
  color: white;
  font-weight: bold;
}

.date-selector {
  width: 30%;
  height: 20px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 1400px) {
  .home-main {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    gap: 10px;
  }
  .home-section {
    width: 100% !important;
  }
  .home-area {
    width: 100% !important;
  }

  .date-selector {
    width: 100% !important;
  }
}
