.btn-style {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #141614; /* Dark color */
  color: white; /* Text color */
  border: none; /* Remove border */
  box-shadow: none;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}
.btn {
  width: 150px;
  box-shadow: none;
  color: rgb(32, 150, 36);
  font-weight: bolder;
  /* border: 2px solid black; */
}
.btn-cancel {
  margin-right: auto;
}
